<h1 align='Center'>Product details</h1>
<hr/>
<form action="/products/GetAll"  method="get">
  <div class="form-group">
    <label for="id">Product Id:</label>
    <input type="number" class="form-control" id="id">
  </div>
  <div class="form-group">
    <label for="title">Product Name:</label>
    <input type="text" class="form-control" id="title">
  </div>
  <div class="form-group">
    <label for="unitPrice">Unit Price:</label>
    <input type="number" class="form-control" id="unitPrice">
  </div>
  <div class="form-group">
    <label for="quantity">Quantity:</label>
    <input type="number" class="form-control" id="quantity">
  </div>
  <div class="checkbox">
    <label><input type="checkbox"> Remember me</label>
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>

@* id title unitprice quantity *@